<!DOCTYPE html>
<html lang="sv">
    <head>
        
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/northenLigthsIcon.png') }}">
        <link rel="stylesheet" href="../../../css/style.css" />

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header class="site-header-proj">
            <span class="site-title">Mitt projekt för MVC</span>
        </header>

        <nav>
            <ul class="navUl">
                <a href="{{ path('home') }}" class="navA">Home</a>
                <a href="{{ path('about') }}" class="navA">About</a>
                <a href="{{ path('report') }}" class="navA">Report</a>
                <a href="{{ path('proj_info') }}" class="navA">Proj About</a>
                <a href="{{ path('proj_spel') }}" class="navA">Proj Game</a>
            </ul>
        </nav>

        <main>
            {% block body %}{% endblock %}
        </main>

        <footer>
            <span>Copyright (c) 2024 Wiktor Isaksson</span>
        </footer>
    </body>
</html>
