{% extends "proj/base.html.twig" %}

{% block title %}Game{% endblock %}

{% block body %}
{{ include('pig/flash.html.twig') }}
<h2>Antal händer: {{ HandsNr }}</h2>
<h2>Value: {{ Value }}</h2>
{# nästa steg är att få till så att man kan dra kort eller stanna. när alla händer är klara så drar banken sitt. #}
<div class="board">
    <div class="dealer">
        <h1>Dealer</h1>
    </div>
    <div class="hands">
        {% for i in 1..HandsNr %}
            <div class="hand">
                <h1>Hand {{ i }}</h1>
                <ul class="cards">
                    {% for card in playersHandsString[ i - 1 ] %}
                        <li class="card">{{ card }}</li>
                    {% endfor %}
                </ul>

                <strong>Handens värde: {{ playersHandsValues[i - 1] }}</strong><br>
                <strong>Insats: {{ insatser[i] }}</strong><br>
                {# Om i finns i stoped[] så skriv ut istället handen är klar. #}
                {% if i in stoped %}
                    <strong>Denna hand är klar.</strong>
                {% else %}

                    <form action='{{ path('proj_draw') }}' method="POST">
                        <input type="hidden" name="user" value="{{ user }}">
                        <input type="hidden" name="hand" value="{{ i }}">
                        <button type="submit">Dra ett kort</button>
                    </form>
                    <form action='{{ path('proj_stop') }}'method="POST">
                        <input type="hidden" name="user" value="{{ user }}">
                        <input type="hidden" name="hand" value="{{ i }}">
                        <button type="submit">Stanna</button>
                    </form>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}