{% extends "base.html.twig" %}

{% block title %}Game 21{% endblock %}

{% block body %}
<h1 class="g21h1">Spel 21! [bank]</h1>

{{ include('pig/flash.html.twig') }}

<div class="spelplan">
    <div class="player_column">
        <h3>Player</h3>
        {% if p_hand %}
            <ul class="cards">
                {% for card in p_hand %}
                    <li class="card">{{ card }}</li>
                {% endfor %}
            </ul>
            <p> Total poäng Player: {{ p_tot }}
        {% endif %}
    </div>
     <div class="bank_column">
        <h3>Bank</h3>
        {% if b_hand %}
            <ul class="cards">
                {% for card in b_hand %}
                    <li class="card">{{ card }}</li>
                {% endfor %}
            </ul>
            <p> Total poäng Bank: {{ b_tot }}
        {% endif %}
    </div>
</div>

<h2 class="Button"><a href="{{ path('start') }}">Spela igen</a></h2>


{% endblock %}