<!DOCTYPE html>
<html lang="sv">
    <head>
        
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/northenLigthsIcon.png') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header class="site-header" style="background-image: url({{ asset('img/background.jpg') }})">
            <span class="site-title">My Symfony Site for MVC</span>
        </header>

        <nav>
            <ul class="navUl">
                <a href="{{ path('home') }}" class="navA">Home</a>
                <a href="{{ path('about') }}" class="navA">About</a>
                <a href="{{ path('report') }}" class="navA">Report</a>
                <a href="{{ path('info_game') }}" class="navA">Game</a>
                <a href="{{ path('card_start') }}" class="navA">Card</a>
                {# <a href="{{ path('pig_start') }}" class="navA">pig game info</a>
                <a href="{{ path('pig_init_post') }}" class="navA">pig game play</a> #}
                <a href="{{ path('lucky_number') }}" class="navA">Lucky number</a>
            </ul>
        </nav>

        <main>
            {% block body %}{% endblock %}
        </main>

        <footer>
            <span>Copyright (c) 2024 Wiktor Isaksson</span>
        </footer>
    </body>
</html>
